@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333;
}

.social-icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-content {
    width: 67%;
}

.social-icon {
    color: inherit;
    transition: 0.5s;
}

.social-icon:hover {
    filter: brightness(1.2);
}
