/*Base page styles for accompanying elements*/
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../image/BG-FW.jpg") center / cover no-repeat fixed;
  color: #cfd8dc;
  font-family: Arial, sans-serif;
}


.header,
.footer,
.nav {
  background-color: rgb(0, 0, 0);
}

a {
  color: magenta;
}

.footer-container {
  padding: 0px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  width: 100%;
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.header {
  background-color: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}