
body {
  background-image: url('BG-FW.jpg');
  background-color: white;
  color: black;
}

.header, .footer, .nav {
  background-color: cyan;
}

a {
  color: magenta;
}

.book-card {
  background-color: gray;
  border: 1px solid magenta;
}


.book-card {
  background-color: gray;
  border: 1px solid magenta;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.book-card img {
  max-width: 100px;
  margin-right: 20px;
}

.BG-FW {
  background-image: url("../image/BG-FW.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: cyan;
}

.footer-container {
  padding: 0;
  text-align: center;
  color: black;
  font-size: 14px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.header {
  background-color: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

