:root {
    --bg-color: rgba(46, 58, 79, 0.9);
    --text-color: #E0E0E0;
    --highlight-color: #d400ff;
    --font-size: 18px;
    --sidebar-width: 240px;
    --toggle-width: 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: var(--toggle-width);  
    width: 0;
    overflow: hidden;
    height: 100vh;
    background-color: var(--bg-color);
    transition: width 0.3s;
    padding: 1px;
    font-size: var(--font-size);
    z-index: 2;
}

.sidebar.show {
    width: var(--sidebar-width);
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--highlight-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

li a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: var(--highlight-color);
    color: var(--bg-color);
}