:root {
    --bg-color: rgba(46, 58, 79, 0.9);
    --text-color: #E0E0E0;
    --highlight-color: #d400ff;
    --font-size: 30px;
    --sidebar-width: 240px;
    --toggle-width: 30px;
}

body {
    z-index: 20;
}
.sidebar {
    position: fixed;
    top: 0;
    left: var(--toggle-width);  
    width: 0;
    overflow: hidden;
    height: 100vh;
    background-color: var(--bg-color);
    transition: width 0.3s;
    padding: 1px;
    font-size: var(--font-size);
}

.sidebar.show {
    width: var(--sidebar-width);
}

h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--highlight-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

li a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 0.7em;
}

li a:hover {
    background-color: var(--highlight-color);
    color: var(--bg-color);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: absolute;
    left: 100%;
    top: 0;
    width: var(--sidebar-width);
    background-color: var(--bg-color);
    border-left: 3px solid var(--highlight-color);
    border-radius: 5px;
    margin-top: 10px;
}
li:hover .submenu {
    max-height: 300px;
}

.toggle {
    width: var(--toggle-width);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--highlight-color);
    cursor: pointer;
}

.toggle:after {
    content: "≡";
}